@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-ibm-plex-sans);
  --font-display: var(--font-space-grotesk);
}

body {
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-display), sans-serif;
}
